@import "../../styles/variables.scss";
@import "../../styles/breakpoints.scss";

.cart {
  h2 {
    text-align: left;
    margin-bottom: 20px;
  }

  &__container {
    background-color: black;
    width: 250px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    height: 60px;
    transition: all 0.2s ease-in-out;
  }

  &__checkout-button {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    pointer-events: unset;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;

    height: 60px;
    background: $black;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    border: none;
    font-size: 18px;
    font-weight: 700;
    transition: 0.1s;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $dark-purple;
    }
  }

  &__page {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    pointer-events: none;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__item-list {
    flex: 1;

    & > * + * {
      margin-top: 20px;
    }
  }

  &--expanded {
    .cart__checkout-button {
      opacity: 0;
      pointer-events: none;
    }
    .cart__page {
      opacity: 1;
      pointer-events: unset;
    }
    .cart__container {
      border-radius: 0;
      background-color: white;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    border: none;
    background: none;
    font-weight: 100;
  }
}

.cart-item {
  display: flex;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px;
  padding: 20px;
  justify-content: space-between;

  &__title {
    font-weight: bold;
  }
}

.primary-btn {
  background: $black;
  padding: 30px;
  border-radius: 20px;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 700;
  transition: 0.1s;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $dark-purple;
  }
}

.cart-buttons {
  display: flex;
  align-items: center;

  &__quantity {
    margin: 0 10px;
  }
}
