@import "../../styles/variables.scss";

.productBar ul {
  display: flex;
  justify-content: center;
  //   padding: 10px;
  margin: 40px;

  li {
    font-size: 20px;
    margin-right: 40px;

    &:first-child {
      margin-left: -5px;
    }

    button {
      border: none;
      background: none;
      color: black;
      border-radius: 30px;
      background-color: transparent;
      padding: 15px 20px;
      font-weight: 700;
      // transition: 0.1s;

      &.active,
      &:hover {
        color: white;
        background-color: $dark-blue;
        padding: 10px;
        border-radius: 30px;
        padding: 15px 20px;
      }
    }
  }
}

.purple {
  .productBar ul {
    li {
      button {
        &.active,
        &:hover {
          background-color: $dark-purple;
        }
      }
    }
  }
}

.blue {
  .productBar ul {
    li {
      button {
        &.active,
        &:hover {
          background-color: $dark-blue;
        }
      }
    }
  }
}

.pink {
  .productBar ul {
    li {
      button {
        &.active,
        &:hover {
          background-color: $dark-pink;
        }
      }
    }
  }
}
