body,
a,
p,
li,
button {
  font-family: $body-font;
}

h2 {
  font-family: $body-font;
  font-size: 50px;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  max-width: 80%;

  @include tablet {
    max-width: 100%;
  }
}
