body,
a,
p,
li,
button {
  font-family: $body-font;
}

h2 {
  font-family: "Raleway";
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  max-width: 90%;

  @include tablet {
    max-width: 100%;
  }
}
