@import "../styles/variables.scss";
@import "./breakpoints.scss";

.products {
  background-color: $blue;
  padding: 60px 0;

  h2 {
    text-align: center;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 40px;
    column-gap: 20px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .orderNowBanner {
    padding: 10px 16px;
    background: transparent;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
    display: none;

    @include mobile {
      display: block;
    }

    a {
      display: block;
      width: 100%;
      height: 60px;
      background: $black;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      color: white;
      border: none;
      font-size: 18px;
      font-weight: 700;
      transition: 0.1s;
      text-decoration: none;
      margin: 0 auto;

      &:hover,
      &:focus {
        background-color: $dark-purple;
      }
    }
  }

  p {
    margin-top: 40px;
    text-align: center;
  }
}

.products.purple {
  background-color: $purple;
}

.products.pink {
  background-color: $pink;
}

.products.blue {
  background-color: $blue;
}
