@import "../styles/variables.scss";

.products {
  background-color: $blue;
  padding: 60px 0;

  h2 {
    text-align: center;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 40px;
    column-gap: 20px;
    margin: 0 auto;
    padding: 0 20px;
  }

  p {
    margin-top: 40px;
    text-align: center;
  }
}

.products.purple {
  background-color: $purple;
}

.products.pink {
  background-color: $pink;
}

.products.blue {
  background-color: $blue;
}
