@import "../styles/variables.scss";

.products {
  background-color: $blue;
  padding: 60px 0;

  h2 {
    text-align: center;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }

  p {
    margin-top: 40px;
    text-align: center;
  }
}

.products.purple {
  background-color: $purple;
}
