// fonts
@import "https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway:wght@400;700&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css";

$header-font: "Fredoka One", cursive;
// "Ribeye Marrow", cursive;
$small-header: "Fredoka One", cursive;
// "Sofia", cursive;
$body-font: "Raleway", sans-serif;

// colors
$teal: #35e2c3;
$purple: #7f73ff;
$pink: #febcd7;
$yellow: #ffe552;
