// fonts
@import "https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway:wght@400;700&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css";

$header-font: "Fredoka One", cursive;
// "Ribeye Marrow", cursive;
$small-header: "Fredoka One", cursive;
// "Sofia", cursive;
$body-font: "Raleway", sans-serif;

// colors
// TODO: These are old colors, replace them
$blue: #90ede0;
$dark-blue: #006e61;
$purple: #d5d8ff;
$dark-purple: #575086;
$pink: #febcd7;
$dark-pink: #85415e;
$yellow: #fff296;

// New colors
$black: #0e100f;
