// fonts
@import "https://fonts.googleapis.com/css2?family=Open+Sans&family=Ribeye+Marrow&family=Sofia&display=swap";

$header-font: "Ribeye Marrow", cursive;
$small-header: "Sofia", cursive;
$body-font: "Open Sans", sans-serif;

// colors
$teal: #35e2c3;
$purple: #7f73ff;
$pink: #ff83c3;
$yellow: #ffe552;
