@import "../../styles/breakpoints.scss";
@import "../../styles/variables.scss";

.aboutUs {
  display: flex;
  justify-content: center;

  h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }

  .info {
    max-width: 750px;
    margin: 75px 0;

    @include desktop {
      max-width: 600px;
    }

    @include tablet {
      max-width: 500px;
    }

    @include mobile {
      max-width: 300px;
    }
    p {
      margin-bottom: 20px;
      font-size: 18px;

      @include mobile {
        font-size: 16px;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      margin-top:40px;
      align-items: center;

      @include mobile{
        align-items: unset;
      }

      li {
        margin-bottom: 15px;
        a {
          text-decoration: none;
          color: black;
          font-size: 18px;

          @include mobile{
            font-size: 16px;
          }

          &:hover {
            color: $dark-purple;
          }
        }
      }
    }
  }

  .linksBox {
    @include tablet {
      display: flex;
    }
  }
}
