@import "../../styles/breakpoints.scss";

.aboutUs {
  display: flex;
  justify-content: center;

  h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }

  .info {
    max-width: 750px;
    margin: 75px 0;

    @include desktop {
      max-width: 600px;
    }

    @include tablet {
      max-width: 500px;
    }

    @include mobile {
      max-width: 300px;
    }
    p {
      margin-bottom: 20px;
      font-size: 18px;

      @include mobile {
        font-size: 16px;
      }
    }
  }

  .linksBox {
    @include tablet {
      display: flex;
    }
  }
}
