@import "../../styles/breakpoints.scss";
@import "../../styles/variables.scss";

.contact-section {
  p {
    margin: 20px;
    text-align: center;
  }

  h2 {
    padding-top: 20px;
  }

  &__email-form {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    & > * + * {
      margin: 20px 0;
    }

    align-items: flex-end;

    @include desktop {
      align-items: center;
      width: 80%;
    }

    input,
    textarea {
      border: 1px solid #808080;
      border-radius: 20px;
      box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.25);
      padding: 15px 22px;
      width: 100%;

      &:focus {
        outline: none;
        border: 3px solid black;
        padding: 13px 20px;
        box-shadow: none;
      }

      &:invalid:not(:focus):not(:placeholder-shown) {
        outline: none;
        border: 3px solid red;
        padding: 13px 20px;
        box-shadow: none;
      }
    }

    textarea {
      font-family: "Raleway";
      height: 200px;
      resize: none;
    }

    button {
      background: $black;
      border-radius: 30px;
      color: white;
      border: none;
      font-size: 18px;
      font-family: "Raleway";
      padding: 20px 40px;
      display: inline-block;
      border: 3px solid transparent;
      transition: 0.2s;

      &:focus,
      &:hover {
        background-color: $dark-purple;
      }

      @include desktop {
        align-self: flex-end;
      }

      @include mobile {
        width: 100%;
      }
    }
  }
}
